@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Base */

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 270px;
    margin: 0 auto;
    font-family: Karla, Arial, Helvetica, sans-serif;
    color: hsl(256, 26%, 20%);
}

h1, h2, h3, h4 {
    font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* Holy Grail */

.container {
    display: grid;

    grid-template-areas:
        "header"
        "main"
        "footer";

    grid-template-rows: 54px 1fr auto;
    grid-gap: 0;

    height: calc(100% - 20px);
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo {
    width: 90px;
}

.dropdown {
    width: 25px;
    height: 25x;
}

/* Main */

main {
    padding-bottom: 90px;
}

.insurance {
    background-color: hsl(256, 26%, 20%);
    color: white;
    height: 650px;
}

.insurance__hero-img {
    width: 270px;
}

.insurance__header {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    max-width: 240px;
}

.insurance__description {
    max-width: 240px;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.75em;
}

.insurance-plans__link {
    display: block;
    width: 110px;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid white;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: inherit;
    text-decoration: none;
}

.insurance-plans__link:hover {
    background-color: white;
    color: hsl(256, 26%, 20%);
}

.values {
    padding: 70px 0;
}

.values__header {
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 60px;
}

.values__objective__logo {
    display: block;
    margin: 30px auto;
    width: 23%;
}

.values__obbjective__title {
    margin: 15px auto;
    font-size: 1.3em;
    text-align: center;
}

.values__obbjective__description {
    max-width: 240px;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.75em;
    color: hsl(273, 4%, 51%);
}

.values__more-info {
    background-color: hsl(256, 26%, 20%);
    color: white;
    max-width: 90%;
    margin: 0 auto;
    height: 250px
}

.values__more-info__header {
    font-size: 1.8em;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    max-width: 240px;
}

.values__more-info__link {
    display: block;
    width: 130px;
    text-align: center;
    margin: 20px auto;
    padding: 8px;
    border: 1px solid white;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: inherit;
    text-decoration: none;
}

.values__more-info__link:hover {
    background-color: white;
    color: hsl(256, 26%, 20%);
}

/* Footer */

.footer {
    padding: 60px 0 0;
    background-color: hsl(0, 0%, 98%);
}

.footer__logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}

.footer__social-media {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.footer__social-media__logo {
    width: 20px;
    height: 20px;
}

.social-media__icons:hover {
    fill: hsl(270, 9%, 17%);
}

.quick-links {
    padding: 8px 0 30px;
}

.quick-links__box__title {
    text-align: center;
    text-transform: uppercase;
    color: hsl(273, 4%, 51%);
}

.quick-links__list {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85em;
    line-height: 1.8em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Backgrounds */

.insurance__intro {
    background-image: url('../images/bg-pattern-intro-left-mobile.svg'),
                      url('../images/bg-pattern-intro-right-mobile.svg');
    background-size: 40%, 28%;
    background-repeat: no-repeat;
    background-position-x: left, right;
    background-position-y: top, bottom ;
    
    padding-bottom: 155px;
    margin-bottom: -155px;
    margin-top: -5px;
}

.values__more-info {
    background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;
}

.footer {
    background-image: url('../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-size: 285px;
}

.divider--narow {
    max-width: 45%;
    border-top: 1px solid hsl(273, 4%, 51%);  
}

.divider--wide {
    max-width: 85%;
    border-top: 1px solid hsl(0, 0%, 81%);
}