@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Base */

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 300px;
    margin: 0 auto;
    font-family: Karla, Arial, Helvetica, sans-serif;
}

/* Holy Grail */

.container {
    display: grid;

    grid-template-areas:
        "header"
        "main"
        "footer";

    grid-template-rows: 54px 1fr auto;
    grid-gap: 10px;

    height: calc(100vh - 20px);
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo {
    width: 90px;
}

.dropdown {
    width: 25px;
    height: 25x;
}

/* Main */

/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
