@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Base */

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 270px;
    margin: 0 auto;
    font-family: Karla, Arial, Helvetica, sans-serif;
    color: hsl(256, 26%, 20%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* Holy Grail */

.container {
    display: grid;

    grid-template-areas:
        "header"
        "main"
        "footer";

    grid-template-rows: 54px 1fr auto;
    grid-gap: 0;

    height: calc(100% - 20px);
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo {
    width: 90px;
}

.dropdown {
    width: 25px;
    height: 25x;
}

/* Main */

.insurance {
    background-color: hsl(256, 26%, 20%);
    color: white;
    height: 650px;
}

.insurance__hero-img {
    width: 270px;
}

.insurance__header {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    max-width: 240px;
}

.insurance__description {
    max-width: 240px;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.75em;
}

.insurance__plans {
    display: block;
    width: 110px;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid white;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: inherit;
    text-decoration: none;
}

.values {
    padding: 70px 0;
}

.values__header {
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 60px;
}

.values__objective__logo {
    display: block;
    margin: 30px auto;
    width: 23%;
}

.values__obbjective__title {
    margin: 15px auto;
    font-size: 1.3em;
    text-align: center;
}

.values__obbjective__description {
    max-width: 240px;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    line-height: 1.5em;
    font-size: 0.75em;
    color: hsl(273, 4%, 51%);
}

/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
